{% extends 'base.html.twig' %}

{% block title %}ManoMano Occasion
{% endblock %}

{% block body %}

	<div>
		<!-- Titre du site -->
		<div class ="title">
			<h1 class="No">ManoMano</h1>
			<p class="Waste">Articles d'occasion</p>
		</div>
			<div class="row">
					{% for article in articles %}
						<div class="card">
							<a href="/article/{{article.id}}">
								<img class="img" src="{{ asset('images_directory/' ~ article.image) }}" class="card-img-top" alt="..."></a>
							<div class="card-body">
								<h5 class="card-title">{{article.nom}}</h5>
								<p class="card-text">{{article.couleur}}</p>
								<a href="/article/{{article.id}}" class="btn btn-outline-info">voir l'article</a>
							</div>
						</div>
					{% endfor %}
			</div>
		</div>

	{% endblock %}
