{% extends 'base.html.twig' %}

{% block title %}NoWaste
{% endblock %}

{% block body %}
	{{form(form) }}

<div>
	<!-- Titre du site -->
    <div class="title">
        <h1 class="NO">
        	No Waste
        </h1>
        <span class="Waste">
        	Bienvenue sur notre site
        </span>
    </div>
	<div class="row">
		{% for articles in article %}
			<div class="col-md-4">
				<div class="card">
					<a href="/article/{{articles.id}}">
						<img src="{{ asset('images_directory/' ~ articles.image) }}" class="card-img-top" alt="..."></a>
					<div class="card-body">
						<h5 class="card-title">{{articles.nom}}</h5>
						<p class="card-text">{{articles.couleur}}</p>
						<a href="/article/{{articles.id}}" class="btn btn-primary">voir l'article</a>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
</div>
</div>


{% endblock %}

